---
BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: false
InsertNewlineAtEOF: true
LineEnding: LF
PackConstructorInitializers: Never
PointerAlignment: Left
BraceWrapping:
  AfterFunction: true
...
